
body{
    background-image: url('../image/cool-background3.png');
}
.container{
    width: 90%;
    overflow: hidden;
    background: skyblue;
    margin: 20px auto;
    padding: 10px 0px;
}
.container ul {
    padding: 0px;
    margin: 0px;
    position: relative;

}
.container ul li{
    position: relative;
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    margin: 40px 30px 0px 20px;
    box-sizing: border-box;
    border: solid 2px whitesmoke;
}
.container ul li .title:hover{
    background: blue;
    color: whitesmoke;
}
.container ul li .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: white;
    text-align: center;
}
/*Indonesia*/

.color1{
    background: #ff0000;
	width: 100%;
	height:41.5%;
	float:left;
}
.color2{
    background: #fff;
	width: 100%;
	height:41.5%;
	float:left;
}
/*Gabon*/
.color3{
    background: #008000;
    width: 100%;
    height: 28%;
    float: left;
}
.color4{
    background: #FFFF00;
    width: 100%;
    height: 28%;
    float: left;
}
.color5{
    background: rgb(30, 30, 231);
    width: 100%;
    height: 27%;
    float: left;
}
/*Bangladesh*/
.color6{
    width: 100%;
    height: 83%;
    position: absolute;
    background: #006747;
}
.color7{
    width: 80px;
    height: 80px;
    position: relative;
    background: #da291c;
    border-radius: 50%;
    margin:0 auto ;
    margin-top: 75px;
}
/*Laos*/
.color8{
    width: 100%;
    height: 20.75%;
    float: left;
    background: #ce1126;
}
.color9{
    background:#002868;
    width: 100%;
    height: 41.5%;
    float: left;
}
.color10{
    width: 80px;
    height: 80px;
    position: relative;
    background: white;
    border-radius: 50%;
    margin:0 auto ;
    margin-top: 20px;
}
.color11{
    width: 100%;
    height: 20.75%;
    float: left;
    background: rgb(175, 33, 33);
}
/*Vietnam*/
.color12{
    width: 100%;
    height: 83%;
    float: left;
    background: rgb(209, 29, 29);
}
.color13{
    width: 80px;
    height: 80px;
    position: relative;
    color: yellow;
    font-size: 100px;
    margin:0 auto ;
    margin-top: 49px;
}
/*Maldives*/
.color14{
    position: absolute;
    width: 100%;
    height: 83%;
    float: left;
    background: rgb(210, 16, 52);
    color: rgb(255, 255, 255);
}
.color15{
    width: 200px;
    height: 117px;
    position: relative;
    background: green;
    font-size: 100px;
    margin:0 auto ;
    margin-top: 67px;
}
.color16{
    width: 80px;
    height: 80px;
    position: relative;
    color: white;
    font-size: 100px;
    margin:0 auto ;
    margin-top: 49px;
}
/*Niger*/
.color17{
    background:#E05306;
	width: 100%;
	height:28%;
    float:left;
    
}
.color18{
    background:#fff;
    width: 100%;
    height: 27%;
    float: left;
}
.color19{
    width: 80px;
    height: 80px;
    position: relative;
    background: #E05306;
    border-radius: 50%;
    margin:0 auto ;
    margin-top: auto;
}
.color20{
    background: #0DB02B;
	width: 100%;
	height:28%;
	float:left;
}
/*Sierra Leone*/
.color21{
    position: absolute;
    background: #1EB53A;
	width: 100%;
	height:28%;
    float:left;
    
}
.color22{
    background: #ffffff;
	width: 100%;
	height:56%;
	float:left;
}
.color23{
    background: #0072C6;
	width: 100%;
	height:27%;
	float:left;
}
/*Somalia*/
.color24{
    width: 100%;
    height: 83%;
    float: left;
    background: #4189DD;
}
.color25{
    width: 80px;
    height: 80px;
    position: relative;
    color: white;
    font-size: 100px;
    margin:0 auto ;
    margin-top: 49px;
}
/*Azerbaijan*/
.color26{
    
    background: #00b9e4;
    width: 100%;
    height: 28%;
    float: left;
}
.color27{
    
    width: 100%;
    height: 28%;
    float: left;
    background: #ed2939;
}

.color28{
    width: 60px;
    height: 60px;
    position: absolute;
    color: white;
    font-size: 100px;
    margin:40% ;
    margin-top: -32px;
}
.color29{
    width: 100%;
    height: 27%;
    float: left;
    background: #20603D;
}
/*Ghana*/
.color30{
    background:#CE1126;
	width: 100%;
	height:28%;
    float:left;
    
}
.color31{
    background:#FCD116;
    width: 100%;
    height: 28%;
    float: left;
}
.color32{
    width: 80px;
    height: 80px;
    position: relative;
    color: #000;
    font-size: 100px;
    margin:0 auto ;
    margin-top:-33px;
}
.color33{
    background: #006B3F;
	width: 100%;
	height:27%;
	float:left;
}
/*Burkina Faso*/
.color34{
    background: #EF2B2d;
    width: 100%;
    height: 41.5%;
    float: left;
}
.color35{
    background: #009e49;
    width: 100%;
    height: 41.5%;
    float: left;
}
.color36{
    width: 80px;
    height: 80px;
    position: relative;
    color: #fcd116;
    font-size: 100px;
    margin:0 auto ;
    margin-top:-81px;
}

@media screen and (max-width:1250px){
    .container ul li{
        width: 50%;
        margin-left: 50px;
    }
}
@media screen and (max-width:750px){
    .container{
        width: 100%;
        padding: 0px;
    }
    .container ul li{
        float: none;
        width: 90%;
        margin: 40px auto;
    }
}