
body{
    background-image: url('../image/cool-background3.png');
}
.container{
    width: 90%;
    overflow: hidden;
    background: skyblue;
    margin: 20px auto;
    padding: 10px 0px;
}
.container ul {
    padding: 0px;
    margin: 0px;
    position: relative;

}
.container ul li{
    position: relative;
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    margin: 40px 30px 0px 20px;
    box-sizing: border-box;
    border: solid 2px whitesmoke;
}
.container ul li .title:hover{
    background: blue;
    color: whitesmoke;
}